/* content.css */

.ytp-popup-comments {
    position: absolute;
    bottom: 61px;
    right: 12px;
    width: 360px;
    height: 360px;
    max-width: 50%;
    max-height: 50%;
    padding: 1.5rem 2rem;
    z-index: 70;
    border-radius: 12px;
    will-change: width, height;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 12px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #181818d9;
}
.ytp-popup-comments::-webkit-scrollbar {
    display: none;
}