/* import montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* import oswald */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
    font-family: "Oswald", sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    
}

.checkbox-wrapper-22 {
    background-color: black;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ext-title {
    font-size: 20px;
    margin: 10px;
}

.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: red;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }
